@import "flex.less";

// rgb(184,101,99)

.header{
  width:100vw;
  height:8vh;

  padding-left:20px;

  background-color:rgb(184,101,99);

  .flex-align-center;
}

.header > h4{
  font-size:24px;
  font-weight:800;
  color:#fff;
}